---
---
@import 'highlight';
.hidden {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
}
ul > li {
    list-style: none;
}
p, li, h1, h2, h3, h4, h5, h6, img {
    margin: 15px 0;
}
ol {
    padding-left: 15px;
}
img {
    width: 100%;
}
h2, h3, h4, h5, h6 {
    font-size: 14px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:link {
    color: #333;
}
a:visited {
    color: currentColor;
}
::selection {
    color: #fff;
    background-color: #000;
}
html, 
body {
    font-size: 0;
    -webkit-font-smoothing: antialiased;   
    backface-visibility: rgba(0,0,0,0);
    height: 100%;
}
body {
    position: relative;
    line-height: 1.5;
    /*background-color: #f5f5f5;*/
}
.wrapper {
    font-size: 14px;
    // max-width: 1020px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 92px;
    /*background-color: #fff;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    width: 100%;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .content-header {
    max-width: 1020px;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    margin: 0 auto;
}
header .logo {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
    line-height: 92px;    
    position: relative;
    overflow: hidden;
}
header .logo::before,
header .logo::after  {
    content: '';
    display: block;
    width: 100%;
    background-color: #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    height: 2px;
    top: 50%;
    left: 0;
}
header .logo::before {
    -webkit-transform: translate3d(-100%, -18px, 0);
    -moz-transform: translate3d(-100%, -18px, 0);
    -o-transform: translate3d(-100%, -18px, 0);
    transform: translate3d(-100%, -18px, 0);
    /*transform: scaleX(0);*/
}
header .logo::after {
    -webkit-transform: translate3d(100%, 18px, 0);
    -moz-transform: translate3d(100%, 18px, 0);
    -o-transform: translate3d(100%, 18px, 0);
    transform: translate3d(100%, 18px, 0);
}

.loaded header .logo::before {
    -webkit-transform: translate3d(0, -18px, 0);
    -moz-transform: translate3d(0, -18px, 0);
    -o-transform: translate3d(0, -18px, 0);
    transform: translate3d(0, -18px, 0);
    /*transform: scaleX(1);*/
}
.loaded header .logo::after {
    -webkit-transform: translate3d(0, 18px, 0);
    -moz-transform: translate3d(0, 18px, 0);
    -o-transform: translate3d(0, 18px, 0);
    transform: translate3d(0, 18px, 0);
}

header nav {
    font-size: 14px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    visibility: hidden;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    user-select: none;
}
.loaded header nav {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
    visibility: visible;
    opacity: 1;
}
header nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 70%;
    height: 92px;
    float: right;
    align-items: center;
}

header nav li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 40px;
    margin-right: 5px;
    /*align-items: center;*/
    position: relative;
    overflow: hidden;    
    box-sizing: border-box;
}
header nav li::before,
header nav li::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    z-index: 99;
    -webkit-transition: transform .2s ease-in-out .2s;
    -moz-transition: transform .2s ease-in-out .2s;
    -o-transition: transform .2s ease-in-out .2s;
    transition: transform .2s ease-in-out .2s;  
}
header nav li::before {
    top: 0;
    -webkit-transform: translate3d(-102%, 0, 0);
    -moz-transform: translate3d(-102%, 0, 0);
    -o-transform: translate3d(-102%, 0, 0);
    transform: translate3d(-102%, 0, 0);
}
header nav li::after {
    bottom: 0;
    -webkit-transform: translate3d(102%, 0, 0);
    -moz-transform: translate3d(102%, 0, 0);
    -o-transform: translate3d(102%, 0, 0);
    transform: translate3d(102%, 0, 0);
}
header nav a {
    display: inline-block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #555;
    line-height: 40px;
    position: relative;
    overflow: hidden;
}
header nav .icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
header nav a::before,
header nav a::after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: currentColor;
    position: absolute;
    top: 0;
    z-index: 99;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;        
}
header nav a::before {
    left: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
header nav a::after {
    right: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

header nav li:hover {
    color: #1296db;    
    background-color: #e1e1e1;
}
header nav li:hover a {
    color: #1296db;    
}
header nav li:hover .icon {
    fill: #1296db;
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
}

header nav li:hover a::before,
header nav li:hover::before,
header nav li:hover::after,
header nav li:hover a::after {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


.content-main {
    width: 100%;
    // hei
    height: 100%;
    overflow: auto;
    position: relative;
    .content-1020 {
        max-width: 685px;
        padding: 30px 320px 30px 15px;             
        margin: 0 auto;
        &.content-auto {
            max-width: 990px;
            padding: 30px 15px;
        }
    }
}
.content-main .title {
    font-size: 26px;
    line-height: 1.8;
    font-weight: 400;
    margin: 60px 0 20px;
}
.content-main .title a {
    display: inline-block;
    position: relative;    
}
.content-main .title a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
}
.content-main .title a:hover::after {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}
.content-main .title > a {
    color: #555;
}
.content-main .subtitle {
    display: inline-block;
    font-size: 12px;
    color: #999;
    padding-bottom: 15px;
}
.content-main .subtitle .categories {
    color: #555;
    text-decoration: underline;
}
.content-main .more {
    display: inline-block;
    font-size: 14px;
    color: #666;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    margin: 15px 0;
}
.content-main .more:hover {
    color: #222;
}
.content-main p {
    margin: 12px 0;
}
.content-main .icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 5px;
    overflow: hidden;
}
.tc {
    text-align: center;
}
h2, p {
    text-transform: capitalize;
}
.link-category {
    color: #555;
    border-bottom: 1px solid #ccc;
}
.link-category:hover {
    color: #333;
    border-bottom: 1px solid;
}

.category-archive .title-category span {
    font-size: 18px;
    color: #bbb;
}

.category-archive section {
    padding-left: 30px;
    position: relative;
}
.category-archive section::after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    top: 15px;
    left: 4px;
    z-index: -1;
}
.category-archive article:hover .dot::before {
    color: #666;
}
.category-archive article:hover {
    border-bottom: 1px dashed #666;
}
.category-archive .title-category,
.category-archive article {
    position: relative;
}
.category-archive .title-category {
    margin: 30px 0;
}
.category-archive article {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
    margin: 20px 0;
    cursor: pointer;
}
.category-archive .dot {
    width: 10px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -5px;
    overflow: hidden;
}
.category-archive .dot::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radisu: 50%;
    border-radius: 50%;
    border: 9px dotted;
    /*margin: 0 0 1px 1px;*/
    border-width: 0vw;
    color: #bbb;
    background-color: currentColor;
    position: absolute;
}
.category-archive time {
    margin-right: 10px;
    font-size: 12px;
}
.category-archive .title-archive h2 {
    font-size: 14px;
    font-weight: 400;
}
.category-archive .title-month h2 {
    font-size: 16px;
}

.page-about {
    line-height: 2;
}
.page-about .title-about {
    font-size: 18px;
}
.page-about .cont-part {
    margin: 15px 0 30px;
}
.page-about ul {
    padding-left: 40px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-left: none;
    word-break: normal;
}
table tbody tr:nth-of-type(even) {
    background-color: rgba(180,180,180,0.1);
}
table td, th {
    padding: 8px;
    border: 1px solid #dddddd;
    line-height: 20px;
    vertical-align: middle;
}


@media only screen and (max-width: 640px){
    header {
        .content-header {
            display: block;
        }
        .nav-logo-container {
            // height: 92px;
            width: 25px;
            padding: 0 10px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 15px;
            &.nav-close {
                .nav-logo {
                    height: 0;
                    &::before {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: 0;
                    }
                    &::after {
                        top: 0;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
            .nav-logo {
                display: block;
                width: 25px;
                height: 2px;
                color: #333;
                background-color:currentColor;
                position: absolute;
                right: 10px;
                top: (90px / 2);
                // top: 50%;
                // -o-transform: translateY(-50%);
                // -moz-transform: translateY(-50%);
                // -webkit-transform: translateY(-50%);
                // transform: translateY(-50%);
                &::before,
                &::after {
                    display: block;
                    content: '';
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    top: -10px;
                    left: 0;
                    background-color: currentColor;
                    -moz-transition: all .2s ease-in;
                    -o-transition: all .2s ease-in;
                    -webkit-transition: all .2s ease-in;
                    transition: all .2s ease-in;
                }
                &::after {
                    top: 10px;
                }
            }
        }
        nav {
            display: none;
            -o-transform: none;
            -moz-transform: none;
            -webkit-transform: none;
            transform: none;
            visibility: visible;
            &.show {
                display: block;
                border-top: 1px solid #ddd;
            }
            ul {
                width: 100%;
                display: block;
                height: auto;
                float: none;
                li {
                    text-align: left;
                    &::before,
                    &::after {
                        display: none
                    }
                    svg {
                        display: none;
                    }
                    a {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    // .content-1020 {
    //     max-width: 990px;
    //     padding: 30px 15px !important;    
    // }
}
@media only screen and (max-width: 950px) {
    .icon-sidebar {
        display: none;
    }
    #toc-container {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .content-1020 {
        max-width: 990px;
        padding: 30px 15px !important;    
    }
}


#toc-container {
    width: 320px;
    height: 100%;
    padding-top: 92px;
    color: #999;
    background-color: #222;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    position: fixed; 
    top: 0;
    right: 0;
    z-index: 99;
    &.sidebar-hidden {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    table {
        border: none;
        td, th {
            border: none;
            padding: 15px;
        }
    }
    #toctitle {
        text-align: center;
        color: #87daff;
        h2 {
            display: inline-block;
            border-bottom: 1px solid currentColor;
        }
    }
    li {
        a:link, a:visited {
            color: #999;
            border-bottom: 1px solid currentColor;
        }
    }
    a:hover, a:active {
        color: #f5f5f5;
    }
    li.active > a:link,
    li.active > a:visited {
        color: #87daff;
    }
    .toc_level-2 {
        text-indent: 1em;
    }
    .toc_level-3 {
        text-indent: 2em;
    }
    .toc_level-4 {
        text-indent: 3em;
    }
    .toc_level-5 {
        text-indent: 4em;
    }
}

.sidebar {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    .icon-aside {
        width: 24px;
        height: 24px;
        background-color: #222;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
    }
    .switch-top {
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml;utf8,<svg class="icon" width="200px" height="200.00px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M738.3296 454.6304l-156.416-155.6992c-6.144-15.0784-20.9152-25.728-38.2464-25.728-14.6944 0-27.4944 7.7312-34.7904 19.2768-0.8192 1.1008-1.6384 2.176-2.3296 3.328l-159.5392 158.8224c-16.1536 16.0768-16.1536 42.24 0 58.4192 16.128 16.0768 42.24 16.0768 58.3936 0l96.9472-96.512L501.9648 729.088c0 22.784 18.5344 41.2672 41.3184 41.2672 22.8608 0 41.2928-18.5088 41.2928-41.2672l0.2816-310.6816 95.0528 94.6176c16.1536 16.0768 42.24 16.0768 58.3936 0C754.4576 496.8704 754.4576 470.7072 738.3296 454.6304z" fill="#ffffff" /></svg>') no-repeat center;
        background-size: 24px;
    }
    .switch-sidebar {
        width: 14px;
        height: 2px;
        color: #87daff;
        background-color: currentColor;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%, -50%, 0);
        -moz-transform: translate3d(-50%, -50%, 0);
        -o-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
        &::before,
        &::after {
            content: '';
            display: block;
            width: 14px;
            height: 2px;
            background-color: currentColor;
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
            position: absolute;
            top: 5px;
            left: 0;
        }
        &::after {
            top: -5px;
        }
    }
    .icon-active {
        .switch-sidebar {
            height: 0;
            &::before {
                top: 0;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &::after {
                top: 0;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}