　　<!DOCTYPE html>
　　<html lang="zh-Hans">
　　<head>
　　　　 <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
　　　　 <title>{{ site.title }} - {{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/res/c/index.css#20170602_01">
　　</head>
　　<body>
        <div class="wrapper">
            <!-- 引入header部分 -->
            {% include header.html %}
            <!-- 内容部分 -->
            <div class="content-main">
                {{ content }}                
            </div>
        </div>
        <script>
            (function() {
                window.onload = function() {
                    document.getElementsByTagName("body")[0].className = "loaded";
                }
            })();
        </script>
　　</body>
　　</html>